<!-- START HEADER -->
<header class="header_wrap fixed-top">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg"> 
			<a class="navbar-brand animation" href="index.html" data-animation="fadeInDown" data-animation-delay="1s"> 
            	<img class="logo_light" src="assets/images/logo.png" alt="logo" /> 
                <img class="logo_dark" src="assets/images/logo_dark.png" alt="logo" /> 
            </a>
            <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s"> 
                <span class="ion-android-menu"></span> 
            </button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.5s"><a  routerLinkActive="active" class="nav-link nav_item" routerLink="inicio">Inicio</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.2s"><a  routerLinkActive="active" class="nav-link nav_item" routerLink="prensa">Prensa</a></li>

                    <li class="dropdown animation" data-animation="fadeInDown" data-animation-delay="1.3s">
                    	<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Pages</a>
                        	<div class="dropdown-menu">
                            	<ul class="list_none"> 
                                	<li><a class="dropdown-item nav-link nav_item" href="service.html">Services</a></li> 
                                	<li><a class="dropdown-item nav-link nav_item" href="team.html">Team</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="pricing-table.html">Pricing Table</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="404.html">404 Page</a></li> 
                                </ul>
                            </div>
                    </li>
                    <li class="dropdown animation" data-animation="fadeInDown" data-animation-delay="1.4s">
                    	<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Blog</a>
                        	<div class="dropdown-menu">
                            	<ul class="list_none"> 
                                	<li><a class="dropdown-item nav-link nav_item" href="blog-right-sidebar.html">Blog Right Sidebar</a></li> 
                                	<li><a class="dropdown-item nav-link nav_item" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="single-post-right-sidebar.html">Single Post Right Sidebar</a></li> 
                                    <li><a class="dropdown-item nav-link nav_item" href="single-post-left-sidebar.html">Single Post Left Sidebar</a></li> 
                                    <li><a class="dropdown-item nav-link nav_item" href="single-post-fullwidth.html">Single Post Fullwidth</a></li> 
                                </ul>
                            </div>
                    </li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.5s"><a class="nav-link nav_item" href="faq.html">Faq's</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.8s"><a class="nav-link nav_item" href="contact.html">Contact</a></li>
                </ul>
                <ul class="navbar-nav nav_btn align-items-center">
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.9s">
                        <div class="lng_dropdown">
                          <select name="countries" id="lng_select">
                            <option value='en' data-image="assets/images/eng.png" data-title="English">EN</option>
                            <option value='fn' data-image="assets/images/fn.png" data-title="France">FN</option>
                            <option value='us' data-image="assets/images/us.png" data-title="United States">US</option>
                          </select>
                        </div>
                    </li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="2s"><a class="btn btn-default nav_item" href="login.html">Login</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="2.1s"><a class="nav-link nav_item" href="signup.html">Sign Up</a></li>
                </ul>
			</div>
		</nav>
	</div>
</header>
<!-- END HEADER --> 